

 .grid-container {
display:grid;
grid-template-columns: auto;
 }

 .grid-container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .grid-container{
    grid-template-columns: auto auto auto;
    background-color: red;
  }
}