@font-face {
 font-family: minecraft_reg ; 
  src: url(Fonts/minecraft-ten-font/minecraft-font/MinecraftRegular-Bmg3.otf); 
}

 .grid-container {
display:grid;
grid-template-columns: auto auto auto;
  gap:10px;
  background-color: rgb(238, 209, 212);
 }

 .grid-container div {
  background-color: #e78181;
  border: 5px solid #741d1d;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-family: minecraft_reg;
  color:#741d1d;
 
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .grid-container{
    grid-template-columns: auto;
    background-color: rgb(231, 201, 201);
  }
}