@font-face {
 font-family: minecraft; 
  src: url(Fonts/minecraft-ten-font/MinecraftTen-VGORe.ttf); 
}

@font-face {
 font-family: minecraft_reg ; 
  src: url(Fonts/minecraft-ten-font/minecraft-font/MinecraftRegular-Bmg3.otf); 
}

@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}




body {
   background-color: rgb(255, 180, 180);
  }

main{
 background-color: #ac4a56;

}

h1{
font-family: minecraft;

}

/*marquee*/
.marq {
   color:#4b1118;
   font-family: minecraft;
}

/*header*/
.header {
 font-family: minecraft; 
 background-color:#f08080 ;
  color:#4b1118;

}

/*header*/
.parag {
  font-family: minecraft_reg; 
  background-color:#f08080 ;
  color:#4b1118;
  padding-left: 4px;

}
 
 .list{
  font-family: minecraft; 
  background-color:#f08080 ;
  color:#4b1118;


 }

.photos {
  aspect-ratio: 1 / 2;
 }

/*Gallery text title*/
.title {
  font-family: minecraft; 
  background-color:#f08080 ;
  color:#4b1118;
}

/*nav*/
.navi ul {
  list-style-type: none;
  margin: 6px;
  padding: 4px;
  overflow: hidden;
  background-color: #ee7b7b;
  display: flex;
  justify-content: center;
  font-family: minecraft;
}

.navi ul li {
  float: left;
}

.navi ul li a {
  display: block;
  color: #4b1118;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navi ul li a:hover {
  background-color: #ce5050;
}


/*grids*/
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: auto;
  gap: 3px;
  background-color: rgb(221, 117, 123);
  padding: 5px;
}
.container div {
  background-color: rgb(255, 186, 186);
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;

}
.container div.menu {
  grid-area: menu;
  font-family: minecraft;
  color:#4b1118 

}

.container div.content {
  grid-area: content;
  font-family: minecraft_reg;
}

.container div.footer {
  grid-area: footer;
  text-align: center;  
  font-family: minecraft;
  color:#4b1118
}

/*fish gif*/
.nya{
display:flex;
justify-content: right;
width: auto;
float:right;
height: 100px;
}

/*button*/
.fahh{
  background-color: rgb(189, 92, 92);
  border: none;
  color: #4b1118;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.fahh {
  background-color: rgb(189, 92, 92);
  border: none;
  color: #4b1118;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


/*aaa*/
