@font-face {
 font-family: minecraft; 
  src: url(Fonts/minecraft-ten-font/MinecraftTen-VGORe.ttf); 
}

@font-face {
 font-family: minecraft_reg ; 
  src: url(Fonts/minecraft-ten-font/minecraft-font/MinecraftRegular-Bmg3.otf); 
}



body {
   background-color: rgb(255, 180, 180);

  }

/*marquee*/
.marq {
   color:#4b1118;
}

/*header*/
.header {
 font-family: minecraft; 
 background-color:#f08080 ;
  color:#4b1118;

}

/*header*/
.parag {
 font-family: minecraft_reg; 
 background-color:#f08080 ;
  color:#4b1118;

}
 
 .list{
 font-family: minecraft_reg; 
 background-color:#f08080 ;
  color:#4b1118;


 }

.photos {
  aspect-ratio: 1 / 2;
 }


/*aaa*/
