@font-face {
 font-family: minecraft; 
  src: url(Fonts/minecraft-ten-font/MinecraftTen-VGORe.ttf); 
}


body {
   background-color: rgb(239, 243, 245);

  }

/*marquee*/
.marq {
   color:red;
}

/*header*/
.header {
 font-family: minecraft; 
  color:#562672;

}


