@font-face {
 font-family: minecraft; 
  src: url(Fonts/minecraft-ten-font/MinecraftTen-VGORe.ttf); 
}


body {
   background-color: rgb(255, 180, 180);

  }

/*marquee*/
.marq {
   color:#4b1118;
}

/*header*/
.header {
 font-family: minecraft; 
 background-color:#f08080 ;
  color:#4b1118;

}


